@using Niu.Nutri.Shared.Blazor.Forms.Modal
@inherits BaseModal

@if (IsOpen)
{
    <div class="modal-popup" id="modal_@MyId">
        <div class="container-modal">
            <div class="conteudo-modal">
                <div class="@CssHeader">
                    @if (this.HeaderContent == null)
                    {
                        <div class="cabecalho-modal">
@*                             <div class="btn-closemodal close-modal_@MyId" @onclick=Close>
                                <SfIcon class="icon-fechar-modal" Name="IconName.Close" @attributes="iconBtnFechar"></SfIcon>
                            </div> *@
                        </div>
                    }
                    else
                    {
                        @this.HeaderContent
                    }
                </div>
                <div class="corpo-modal">
                    <div class="@CssBody">
                        @if (this.ChildFragment != null)
                        {
                            @this.ChildFragment
                        }
                    </div>
                </div>
                @if (!this.DisableFooter)
                {
                    <div class="@CssFooter">
                        @if (this.FooterContent == null)
                        {
                            <div class="rodape-modal">
                                <a style="display:none" id="btn_@MyId" href="#modal_@MyId">Open Modal</a>
                            </div>
                        }
                        else
                        {
                            @this.FooterContent
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }

    [Parameter] public string CssModal { get; set; }
    [Parameter] public string CssContent { get; set; }

    [Parameter] public string CssHeader { get; set; }
    [Parameter] public string CssClose { get; set; }
    [Parameter] public RenderFragment HeaderContent { get; set; }

    [Parameter] public string CssBody { get; set; }
    [Parameter] public RenderFragment BodyContent { get; set; }

    [Parameter] public string CssFooter { get; set; }
    [Parameter] public RenderFragment FooterContent { get; set; }

    [Parameter] public bool DisableFooter { get; set; } = false;
}